<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Nexmo.Url.Rest" value="https://rest.nexmo.com" />
    <add key="Nexmo.Url.Api" value="https://api.nexmo.com" />
    <add key="Nexmo.api_key" value="NEXMOAPIKEY"/>
    <add key="Nexmo.api_secret" value="NEXMOAPISECRET" />
  </appSettings>
</configuration>